/* variables */
:root {
    --width-large: 800px;
}

/* override */

body {
    margin: 0;
}

p {
    text-align: justify;
}

li {
    list-style: none;
}

button {
    font: inherit;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

/* header */

.header-box {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    opacity: 0.95;
}


.header-nav {
    position: relative;
    width: var(--width-large);
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.navbar-link.active {
    font-weight: 500;
}

/* footer */

.footer-box {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    background-color: #222;
    color: white;
    text-align: center;
}

.footer-content {
    width: var(--width-large);
    position: relative;
    margin: auto;
    text-align: left;
}

/* main */

.main-content {
    width: var(--width-large);
    margin: auto;
}

/* article are not shown by default */
article {
    display: none;
}

article.active {
    display: block;
    animation: fade 0.5s ease backwards;
}

.navbar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.navbar-link {
    color: #232;
    font-size: 16px;
    padding: 20px 7px;
    transition: color 0.25s ease;
}

.navbar-link:hover,
.navbar-link:focus {
    color: hsla(0, 0%, 84%, 0.7);
}