/* variables */
:root {
    --width-large: 800px;
}


body {
    margin: 0;
}

.header-box {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    opacity: 0.95;
}


.header-nav {
    position: relative;
    width: var(--width-large);
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer-box {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    background-color: #222;
    color: white;
    text-align: center;
}

.footer-content {
    width: var(--width-large);
    position: relative;
    margin: auto;
    text-align: left;
}

.main-content {
    width: var(--width-large);
    margin: auto;
}

/* main {
    position: relative;
    background: black;
} */

p {
    text-align: justify;
}