body {
    margin: 0;
}

.page-header {
    border-bottom: 1px solid red;
    background-color: #fff;
    opacity: 0.95;
    color: #000;
    /* Set your desired text color */

    position: sticky;
    top: 0;
    z-index: 100;
    /* Set a z-index value to ensure the header appears above other content */
}

.header-nav {
    position: relative;
    width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    width: 800px;
    margin: auto;
}

/* main {
    position: relative;
    background: black;
} */

p {
    text-align: justify;
}