/* variables */
:root {
    --width-large: 750px;

    /* colors */
    --link-blue: hsla(197, 64%, 43%, 0.877);
    --deep-link-blue: hsla(197, 66%, 28%, 0.877);
}

/* override */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
}

p {
    text-align: justify;
}

li {
    list-style: none;
}

button {
    font: inherit;
    background: none;
    border: none;
    text-align: right;
    cursor: pointer;
}

/* general */

.font-weight-bold {
    font-weight: 700 !important;
}

/* header */

.header-box {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    opacity: 0.95;
}


.header-content {
    position: relative;
    width: var(--width-large);
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.header-title {
    font-size: 1.25rem;
    padding-bottom: 14px;
}

/* navbar */

.navbar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar-link {
    font-size: 16px;
    padding: 16px 8px;
    transition: color 0.25s ease;
}

.navbar-link:hover {
    color: var(--link-blue);
}

.navbar-link.active {
    color: var(--deep-link-blue);
}

.navbar-link.active:hover {
    color: var(--deep-link-blue);
}

/* footer */

.footer-box {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    background-color: #222;
    color: white;
    text-align: center;
}

.footer-content {
    width: var(--width-large);
    position: relative;
    margin: auto;
    text-align: left;
    padding: 8px 0px;
    font-size: 0.75rem;
}

/* main */

.main-content {
    width: var(--width-large);
    margin: auto;
    padding-bottom: 64px;
}

/* article are not shown by default */
article {
    display: none;
}

article.active {
    display: block;
    animation: fade 0.5s ease backwards;
}

/* picture box */
.pic-box {
    /* TODO: make responsive */
    width: 230px;
    float: right;
    margin: 16px 0px 16px 16px;
}

.icon-box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5rem;
}

.icon-link {
    color: #000;
    transition: color 0.25s ease;
    text-decoration: none;
}

.icon-link:hover {
    color: var(--link-blue);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.rounded {
    border-radius: .25rem !important;
}

/* publications */

.publi-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.publi-img {
    max-width: 15%;
    height: auto;
    margin-right: 16px;
}

.publi-text {
    max-width: 80%;
}